<div class="jumbotron">
  <h1>Welcome to the open store</h1>
    <p>
      The largest Online Campus Book Store
    </p>
    <%= link_to "Books", books_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>
